*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: grid;
    place-items: center; 
  
  
    min-height: 100vh;
    background-color: dodgerblue;
    padding: 1rem;
}
.card{
    width: auto;
    background-color: black;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.8);
}
.property{
    color: white;
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    column-gap: 1rem;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: black;
    margin-bottom:1rem;
}
.search-form input{
    flex: 1;
    min-width: 60%;
    font-size: 1rem;
    padding: .6rem 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}
.search-form button{
    flex: 0.3;
    min-width: 30%;
    font-size: 1rem;
    padding: .6rem 1rem;
    outline: none;
    border:none;
    border-left:1px solid #545454 ;
    background-color:black;
    color: white;
    cursor: pointer;
    
}

.search-form button:hover{
    background-color: white;
    color:black;
    box-shadow:0 0 .5rem #fff, inset 0 0 .5rem rgba(0,0,0,.7);
}
